@if(!isLoading){
<form (ngSubmit)="onLogin(form)" #form="ngForm">
  <div class="flex flex-col justify-center items-center gap-3 my-36">
    <p class="mb-3 text-2xl text-white">Welcome back</p>
    <input
      type="email"
      class="w-[80vw] sm:w-[70vw] max-w-[300px] rounded-lg shadow-md resize-none p-3 py-2 text-center"
      name="email"
      placeholder="Email"
      [(ngModel)]="email"
      required
      email
    />
    <input
      type="password"
      class="w-[80vw] sm:w-[70vw] max-w-[300px] rounded-lg shadow-md resize-none p-3 py-2 text-center"
      name="password"
      placeholder="Password"
      [(ngModel)]="password"
      required
      autocomplete="on"
    />
    <button
      type="submit"
      class="py-2 px-5 bg-slate-900 text-white rounded-lg shadow-lg"
      [disabled]="form.invalid"
    >
      Login
    </button>
  </div>
</form>
} @else {
<app-loader></app-loader>
}
