<div
  class="h-12 bg-slate-900 bg-opacity-50 shadow-lg flex items-center justify-between px-3 text-slate-400 fixed w-full"
>
  <div class="flex gap-3">
    <a routerLink="/posts" routerLinkActive="active-link">Posts</a>
    @if (isAuthenticated) {
    <a routerLink="/create" routerLinkActive="active-link">New Post</a>
    <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
    }
  </div>
  <div class="flex gap-3">
    @if (!isAuthenticated) {
    <a routerLink="/signup" routerLinkActive="active-link">Register</a>
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
    } @if (isAuthenticated) {
    <button (click)="onLogout()">Logout</button>
    }
    <a routerLink="/" class="font-semibold">BoredBook</a>
  </div>
</div>
