@if(!isLoading){
<div
  class="grid place-items-center items-start lg:grid-cols-2 2xl:grid-cols-3 justify-center mb-6 mt-20 mx-10"
>
  @if(allPosts.length > 0 && !isLoading){ @for(post of allPosts; track $index){
  <div class="flex flex-col items-center my-3 w-[100vw] max-w-[450px]">
    <div
      class="text-white bg-main bg-opacity-40 text-center w-[90%] rounded-t-lg font-medium relative py-2"
    >
      {{ post.title }}
      @if (isAuthenticated && user.id === post.creatorId) {
      <div class="absolute right-2 top-2">
        <button class="text-white w-max text-xs mr-1" (click)="onEdit(post.id)">
          <img src="assets/images/edit.svg" alt="Edit post" />
        </button>
        <button class="text-white w-max text-xs" (click)="onDelete(post.id)">
          <img src="assets/images/delete.svg" alt="Delete post" />
        </button>
      </div>
      }
    </div>
    <div
      class="text-white rounded-lg w-[95%] text-justify max-h-[320px] flex flex-col items-center"
    >
      <div
        class="relative w-full rounded-lg overflow-hidden mb-2 aspect-video shadow-2xl"
      >
        <img [ngSrc]="post.imagePath" [alt]="post.title" class="object-cover" fill="true" priority/>
      </div>
      <div class="w-[90%] overflow-hidden text-ellipsis whitespace-nowrap mt-2">
        • {{ post.content }}
      </div>
    </div>
    <div class="w-[90%] flex justify-between mt-2 ml-8">
      <div
        class="bg-main bg-opacity-50 text-white p-3 py-2 w-max rounded-lg shadow-lg text-xs h-min"
      >
        {{ post.creatorEmail }}
      </div>
    </div>
  </div>
  } }
</div>
@if (!isLoading && allPosts.length < 1) {
<div class="mt-36 text-center text-white">* No posts added *</div>
} } @else {
<app-loader></app-loader>
} @if (allPosts.length > 0) {
<app-pagination
  [length]="totalPosts"
  [pageSize]="pagePosts"
  [pageOptions]="pageOptions"
  (change)="onPageChange($event)"
></app-pagination>
}
