@tailwind base;
@tailwind components;
@tailwind utilities;

// <weight>: Use a value from 200 to 800
* {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}